@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

body{
   
    background-color: black;
    max-width: 1200px;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
}

header{
    background-image: url("../img/spid.gif");
    text-align: center;
    color:azure;
    font-family: 'Orbitron', sans-serif;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

nav{
    color: azure;
    text-decoration: none;
    width: 200px;
    height: 700PX;
    position: fixed;
    top: 230px;
    left: 78px;
    font-family: 'Orbitron', sans-serif;
    Overflow-y:scroll; //add vertical bar option in html
}



main{

    background-image: url("../img/spark.gif");
    color: azure;
    width: 650px;
    margin-left: 460px;
    font-family: 'Orbitron', sans-serif;
}

main p{
    text-align: center;
    
}

section{
    color: azure;
    font-family: 'Orbitron', sans-serif;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    border: grey 1px solid;
    -moz-box-shadow: inset 0 0 80px #cdc6f1;
    -webkit-box-shadow: inset 0 0 80px #ccc3f5;
    box-shadow: inset 0 0 80px #3b63f5;
}

section img{
    padding: 10px;
}

section video{
    padding: 10px;
}

footer{
    background-image: url("../img/cherry-blossom.gif");
    color: rgb(237, 235, 245);
    width: 250px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    left: 40px;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-decoration: none;
}
 
#splashgif{
    margin: auto;
    text-align: center;
    width: 600px;
    height: 600px;
 }

#splashgif:hover{
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
}

#smallgif{
    margin: auto;   
    left: 10px;
    text-align: left;
    position: fixed;
 }

 #smallgif:hover{
    filter: brightness(150%);
    -webkit-filter: brightness(150%)
 }

 nav h1{
    text-align: center;
    border: #3b63f5 1px solid;
    padding: 5px;
}

nav h1:hover{
    border: blue 1px solid;
    opacity: .8;
}

div.scroll{
    Width: 1px;px;
    Height-10 px;
    Overflow-x:scroll;
    direction:rtl; 
    position: absolute;
    left: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

.image{
    position: relative;
    width: 200px;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    background: black;
    color: azure;
    display: flex;
    align-items: center;
    opacity: 0;
    transition:opacity 0.9s;
    justify-content: center;
  
}

.image__overlay:hover{
   opacity: 1; 
}



.ex{
    position: relative;
    width: 200px;
    left: 260px;
}
.ex__img{
    display: block;
    width: 70%; 
}

.ex__overlay{
    position: absolute;  
    top: -15px;
    left: -25px;
    width: 100%;
    height:100% ;
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
    opacity: 0;
    transition:opacity 0.9s;
    justify-content: center;
   
  
}

.ex__overlay:hover{
   opacity: 1; 
}



#feedstart{
    font-size: xx-large;
}

nav a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}
 

main section img:hover{
    border: #3b63f5 1px solid;
    opacity: .8;

}

main section video:hover{
    border: #3b63f5 1px solid;
    opacity: .8;

}


footer a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-weight: bold;
}

section a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-weight: bold;   
}

#blink{
    background-image: url(../img/blink.gif);
    box-shadow: none;
}

#blink:hover{
    opacity: .5;
 
}